.panel-container{
    display: grid;
    /* grid-row-gap: 0; */
    grid-template-columns: repeat(7, 13%);
    grid-gap: 0px 0px;
    grid-auto-rows: minmax(100px, auto);
    background-image: url("./../../../images/background.jpg");
    background-repeat: no-repeat, repeat;
    background-color:white;
    background-position: center;
    background-size: cover;
    /* background-size: contain; */
}
.rectangle{
    
}